<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A cada dois segundos, algum paciente necessita de transfusão de sangue no Brasil.</string>
    <string>Cerca de 1 em cada 5 pessoas que são internadas no Hospital, necessitarão de transfusão de sangue durante o período em que permanecerem internadas.</string>
    <string>Três é o número de vidas que são salvas com cada doação de sangue.</string>
    <string>O sangue representa cerca de 7% do peso corporal de um indivíduo adulto.</string>
    <string>Qualquer pessoa com boa saúde, entre 18 e 65 anos de idade e com mais de 50 kg de peso, pode ser um doador de sangue.</string>
    <string>O volume total de sangue a ser doado não pode exceder 8 ml / kg de peso para as mulheres e 9 ml / kg de peso para os homens. O volume máximo admitido para uma doação é de 450 ml ± 50 ml, aos quais podem ser acrescidos de até 30 ml para realização dos exames laboratoriais exigidos pelas leis e normas técnicas.</string>
    <string>A doação de sangue não engrossa nem afina o sangue.</string>
    <string>Doando sangue você não ganha nem perde peso.</string>
    <string>Mulheres podem doar sangue mesmo no período menstrual.</string>
    <string>A doação de sangue não oferece ao doador nenhum risco de contrair doenças infecciosas. Portanto, você não corre risco de contrair AIDS ou Hepatite com a doação de sangue.</string>
    <string>Cinco são as etapas para uma doação de sangue: cadastro (ou registro) do doador, triagem clínica (inclui teste de anemia, verificação da pressão arterial, batimentos cardíacos, peso, temperatura e questionário sobre sua saúde), voto de auto exclusão, doação propriamente dita e lanche pós doação.</string>
    <string>Todo o processo de doação de sangue dura cerca de uma hora.</string>
    <string>O sangue doado é testado para seis doenças infecciosas transmissíveis pelo sangue: Hepatite B, Hepatite C, HIV, HTLV, Sífilis e Doença de Chagas.</string>
    <string>Plasma é a parte líquida do sangue e corresponde a cerca de 55 por cento do seu volume. Os outros 45 por cento do volume do sangue é representado pelas células: glóbulos vermelhos, plaquetas e glóbulos brancos.</string>
    <string>Glóbulos vermelhos ou hemácias são células que têm a função de transportar oxigênio dos pulmões para os tecidos e gás carbônico dos tecidos para os pulmões. São estas células que dão a cor vermelha ao sangue.</string>
    <string>As plaquetas são pequenos fragmentos celulares cuja função é ajudar na interrupção de sangramentos.</string>
    <string>Os glóbulos brancos ou leucócitos são células responsáveis pela defesa do organismo contra infecções.</string>
    <string>Todas as células do sangue são produzidas na medula dos ossos, principalmente nos ossos chatos.</string>
    <string>Uma unidade de sangue total doado pode ser fracionado em: concentrado de hemácias, plasma e concentrado de plaquetas.</string>
    <string>A duração de um concentrado de hemácias varia de 35 a 42 dias.</string>
    <string >A duração de um concentrado de plaquetas é de apenas 5 dias.</string>
    <string>A duração de uma unidade de plasma varia de 1 a 5 anos.</string>
    <string>Aférese é um tipo especial de doação que permite a coleta de apenas um componente do sangue.</string>
    <string>Pela técnica de aférese é possível doar separadamente plasma, plaquetas, leucócitos ou hemácias.</string>
    <string>Mulheres representam menos de 40% dos doadores de sangue no Brasil.</string>
    <string>De cada 10 candidatos à doação de sangue que comparecem na Fundação Sangue Nativo, 08 estão aptos para doar e dois estão temporária ou definitivamente inaptos para doar.</string>
    <string>Anemia é a principal causa de inaptidão à doação de sangue na Fundação Sangue Nativo.</string>
    <string>Para um homem, após uma doação de 450 ml de sangue: o plasma é reposto em 24 horas, os glóbulos vermelhos em aproximadamente 4 semanas e o estoque de ferro em aproximadamente 8 semanas.</string>
    <string>Para uma mulher, após uma doação de 450 ml de sangue: o plasma é reposto em 24 horas, os glóbulos vermelhos em aproximadamente 4 semanas e o estoque de ferro em aproximadamente 12 semanas.</string>
    <string>Ainda não há nenhum substituto para o sangue humano.</string>
</array>
</plist>
